.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
}
.header_actions{
    display: flex;
    align-items: center;
    gap: var(--small-space);
}
.action_input{
    flex-grow: 1;
    width: min-content;
}
.create_button{
    font-size: 1.2rem;
}
.dishes_list{
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
    overflow-y: auto;
    height: 100%;
}
.dish{
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
    border: 1px solid gray;
    border-radius: 16px;
    padding: var(--small-space);
}